tipps
<!--<div class="panel" ng-show="panel.isSelected(1)">-->
<!--<form name="loginForm" ng-controller="LoginController"-->
<!--ng-submit="login(credentials)" novalidate>-->
<!--<label for="username">Username:</label>-->
<!--<input type="text" id="username"-->
<!--ng-model="credentials.username">-->
<!--<label for="password">Password:</label>-->
<!--<input type="password" id="password"-->
<!--ng-model="credentials.password">-->
<!--<button type="submit">Login</button>-->
<!--</form>-->
<!--</div>-->

<!--<div class="panel" ng-show="panel.isSelected(2)" ng-controller="TippController as tippCtrl">-->
<!--&lt;!&ndash; Alle Tipps anzeigen &ndash;&gt;-->
<!--<h3>Meine Tipps</h3>-->
<!--<blockquote ng-repeat="tipp in myTipps">-->
<!--<b>Spiel: {{tipp.spielId}}</b>-->
<!--<b>{{tipp.tippMannschaft1}} - {{tipp.tippMannschaft2}}</b>-->
<!--</blockquote>-->

<!--&lt;!&ndash; Form um Tipp abzugeben &ndash;&gt;-->
<!--<form name="tippForm" ng-submit="addTipp(newTipp)">-->
<!--<h3>Neuer Tipp</h3>-->

<!--<p><b>Spiel: </b><select ng-model="newTipp.partieId">-->
<!--<option value="-1">Spiel auswählen</option>-->
<!--<option ng-repeat="partie in partien" value={{partie.id}}>{{partie.mannschaft1.name}} --->
<!--{{partie.mannschaft2.name}}-->
<!--</option>-->
<!--</select></p>-->
<!--<p><b>Ergebnis: </b>-->
<!--<input type="number" ng-model="newTipp.tippMannschaft1"/>-->
<!----->
<!--<input type="number" ng-model="newTipp.tippMannschaft2"/></p>-->
<!--<cite>-->
<!--<p>{{tippspiel.getPartie(tippCtrl.newTipp.partieId).mannschaft1}}-->
<!--{{tippCtrl.newTipp.mannschaft1}} --->
<!--{{tippspiel.getPartie(tippCtrl.newTipp.partieId).mannschaft2}}-->
<!--{{tippCtrl.newTipp.mannschaft2}}-->
<!--</p>-->
<!--</cite>-->

<!--<input type="submit" value="Submit"/>-->

<!--</form>-->
<!--</div>-->

<!--<div class="panel" ng-show="panel.isSelected(3)" ng-controller="TippspielController as tippspielCtrl">-->

<!--<ul class="spielplanSelector">-->
<!--<div style="display: inline" ng-repeat="part in showSpielplan">-->

<!--<li><input type="checkbox" ng-model="part.show">{{part.name}}</li>-->

<!--</div>-->

<!--</ul>-->
<!--<div ng-include="'spielplanNachDatum.html'"></div>-->
<!--&lt;!&ndash;<div ng-repeat="part in showSpielplan" ng-include="'spielplan.html'"></div>&ndash;&gt;-->


<!--</div>-->
