<div class="modal-header">
    <h3 class="modal-title" ng-show="existingTipp()">Tipp bearbeiten</h3>

    <h3 class="modal-title" ng-show="!existingTipp()">Tipp abgeben</h3>
</div>
<div class="modal-body">
    <table class="table tippspiel">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Uhrzeit</th>
            <th>Spiel</th>
            <th>Ergebnis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{partie.datum | date:'dd.MM.yyyy'}}</td>
            <td>{{partie.datum | date:'hh:mm'}}</td>
            <td><img ng-src="./{{partie.mannschaft1.images.thumb}}">{{partie.mannschaft1.name}} -
                <img ng-src="./{{partie.mannschaft2.images.thumb}}">{{partie.mannschaft2.name}}
            </td>
            <td><input type="number" class="form-control tippDigit"> -
                <input type="number" class="form-control tippDigit"></td>

        </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

